/Alex_bActin-NM2A_test.h5
/Alex_bActin-NM2A_train.h5
/Alex_timed_camera_020_test.h5
/Alex_timed_camera_020_train.h5
/Alex_timed_camera_040_test.h5
/Alex_timed_camera_040_train.h5
/Alex_timed_camera_100_test.h5
/Alex_timed_camera_100_train.h5
/Alex_wide_field_test.h5
/Alex_wide_field_train.h5
/Base_Actin_test.h5
/Base_Actin_train.h5
/Base_ER_test.h5
/Base_ER_train.h5
/Base_Golji_test.h5
/Base_Golji_train.h5
/Base_Lysosome_test.h5
/Base_Lysosome_train.h5
/Base_Matrix_Mitochondria_test.h5
/Base_Matrix_Mitochondria_train.h5
/Base_Microtubule_test.h5
/Base_Microtubule_train.h5
/Base_Tomm20_Mitochondria_test.h5
/Base_Tomm20_Mitochondria_train.h5
/Chris_zebra_test.h5
/Chris_zebra_timed_liver_test.h5
/Chris_zebra_timed_liver_train.h5
/Chris_zebra_timed_pancs_test.h5
/Chris_zebra_timed_pancs_train.h5
/Chris_zebra_train.h5
/Ryo_tile_test.h5
/Ryo_tile_train.h5
/Light_Sheet_noisy_35_clean_test.h5
/Light_Sheet_noisy_35_clean_train.h5
/Light_Sheet_noisy_clean_test.h5
/Light_Sheet_noisy_clean_train.h5
/iSim_021324_AF555_Low_High_train.h5
/iSim_021324_AF555_Mid_High_train.h5
